# Core functionality - changes here should be rare!
/src/app.py                   @haeriamin
/src/backend/database.py      @haeriamin
/src/backend/routers/auth.py  @haeriamin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @haeriamin
